<footer class="page-footer font-small blue pt-4 mt-4">
    <div class="container-fluid text-center  align-items-center">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-2">
                <img src="../Components/icons/icono.svg" alt="Logo" class="footer-logo">
                <p>El mejor lugar para disfrutar de la comida china.</p>
            </div>
            <div class="col-md-6 mb-md-0 mb-3">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li><a href="Comidas.html" class="footer-link">Menu</a></li>
                    <li><a href="Market.html" class="footer-link">Sucursales</a></li>
                    <li><a href="Contact.html" class="footer-link">Contacto</a></li>
                    <li><a href="About.html" class="footer-link">Acerca de nosotros</a></li>
                    <li><a href="Privacy.html" class="footer-link">Política de privacidad</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
