<footer class="page-footer font-small blue pt-4 mt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Nini Rest</h5>
                <p>El mejor lugar para disfrutar de la comida china.</p>
            </div>
            <!-- Asegúrate que todos los links son correctos y los elementos están cerrados adecuadamente -->
            <div class="col-md-6 mb-md-0 mb-3">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li><a href="Comidas.html" style="color: rgba(255, 255, 0, 1)">Menu</a></li>
                    <li><a href="Market.html" style="color: rgba(255, 255, 0, 1)">Sucursales</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
